/* global */
*{
  box-sizing: border-box;
  /* text-align: center; */
}
html{
  width: 100%;
  height: 100vh;
}
h1, p{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%); */
  background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
  /* background-size: cover; */
  font-family: 'Nanum Pen Script', cursive;
  /* color: #000; */
}
.fullContainer{
  display: block;
  /* margin: 0;
  padding: 0; */
}





/* header */
header{
  margin-bottom: -8%;
  overflow: hidden;
  position: relative;
  top: 0;
}

header .nav{
  z-index: 13;
  display: grid;
  grid-template-columns: 50px 50px;
  width: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
  float: left;
}

.headContainer{
  position: relative;
}

.headContainer .flexBox{
  position: relative;
  display: flex;
  justify-content: center;
}
.headContainer .flexBox .title{
  font-size: 14.5em;
  font-weight: 800;
  text-transform: uppercase;
}
#titleLetter1{  color: #5a2729;}
#titleLetter2{  color: #d5c4a1;}
#titleLetter3{  color: #a5714e;}

.description{
  background-color: #f5634a;
  padding: 0 10px;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  letter-spacing: -4px;
  top: 75%;
  right: 31%;
  transform: translateX(50%);
  font-size: 1.8em;
}








/* main */

main{
  /* border: 1px solid; */
  margin: 0;
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
}
.mainContainer{
  color: #fff;
  position: relative;
  width: 100%;
  padding: 5% 5%;
  height: auto;
}
.mainContainer .mainBlockBox{
  display: block;
  position: relative;
  font-size: 1.57em;
}
.mainBlockBox .hashTag{
  background-color:  #e6e6ff;
  color: #404040;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.mainBlockBox div{
  margin-bottom: 20px;
  /* border: 1px solid; */
}

.mainBlockBox div:nth-child(3),div:last-child{
  margin: 0px;
}
.mainBlock1{}
.mainBlock2{}
.mainBlock3{
  text-align: right;
  font-size: 2.5em;
  font-weight: bold;
}




/* footer */
footer{
  position: fixed;
  bottom: 0;
  /* border: 1px solid; */
  width: 100%;
  height: 10%;
  font-size: 1em;
  font-weight: bold;
  /* background-color: #fff0e8; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer{
  width: 100%;
  height: auto;
}

.footerGridBox{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.leftFlexBox{
  display: flex;
  align-items: center;
}
#item-left{
  text-align: left;
  padding-left: 8%;
}
#item-right{
  text-align: right;
  padding-right: 8%;
}
#item-bottom{
  text-align: center;
}







@media screen and (max-width:800px) {
  .headContainer .flexBox .title{
    /* font-size: 12.5em; */
  }
  .description{
    /* padding: 0 10px; */
    /* border-radius: 10px; */
    /* color: #fff; */
    /* position: absolute; */
    /* font-weight: bold; */
    /* letter-spacing: -4px; */
    /* top: 75%; */
    right: 35%;
    /* transform: translateX(50%); */
    /* font-size: 1.8em; */
  }

  .mainContainer .mainBlockBox{
    line-height: 1.3em;
}
 .mainBlock3{
   line-height: 1.3em;
 }




}
